@model CCOLPROYECTOS_V1.Proyecto

@{
    ViewBag.Title = "Delete";
}



<div class=" jumbotron form-horizontal" style="        border: 4px solid #002F65">
    <h2 class="text-center " style="color:darkblue">PROYECTOS</h2>
    <h4 class="text-left ">¿Estas Seguro que desea eliminar este elemento?</h4>


    <div class="col-md-12">

        <dl class="dl-horizontal form-group">

            <dt>
                <div class="col-md-2 text-right">
                    CODIGO:
                </div>

            </dt>
            <div class="col-md-10 text-left form-control">
                @Html.DisplayFor(model => model.codigoProyecto)

            </div>
            <dt>
                <div class="col-md-2 text-right">
                    PROYECTO:
                </div>

            </dt>
            <div class="col-md-10 text-left form-control">
                @Html.DisplayFor(model => model.nombreProyecto)

            </div>

        </dl>
    </div>
    <br>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <br>
        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            <a href="@Url.Action("Index")" class="btn btn-primary">
                <span><strong>Regresar a la lista</strong></span>
            </a>

        </div>

    }
</div>
